$site-max-width: 1200px;
$site-padding: 0 25px;
$site-padding-min-width: 0 50px;
$site-margin: 0 auto;

// Media definition
$breakpoint-tablet: 768px;

// sass variable map
$colors: (
  green: #00a87b,
  gray: #cccccc,
  yellow: #ffbb00,
  red: #ff4633,
  blue: #436fb6,
  white: #ffffff,
  white_1: #fafafa,
  black: #000000,
  light_black: #262626,
  white_logo: #262627,
  white_font_color: #333333,
  white_font_color_light: #adadad,
  nav_menu_font_color: #8a8a8a,
  nav_menu_font_color_hover: #222222,
);

// loop over each name, color
:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@function get-color($color, $variant: null) {
  $color: map-get($colors, $color);
  @return map-get(
      (
        extra-light: mix($color, white, 25%),
        light: mix($color, white, 50%),
        semi-light: mix($color, white, 75%),
        semi-dark: mix($color, black, 75%),
        dark: mix($color, black, 50%),
        extra-dark: mix($color, black, 25%),
      ),
      $variant
    )
    or $color;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

/* Header and Bold Text Font */
@font-face {
  font-family: 'B612';
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/B612Mono.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Montserrat.ttf') format('woff2');
}

.siteCss {
  position: static;
  padding: $site-padding;
  margin: $site-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: $site-padding-min-width;
  }

  .pageTitle {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 32px;
  }
}

.siteCssWidth1200 {
  position: static;
  // padding: 0 100px;
  width: 100%;
  margin: $site-margin;

  @media (min-width: $breakpoint-tablet) {
    // padding: 0 100px;
    // width: 800px;
    width: 1200px;
  }

  .pageTitle {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 32px;
  }
}

.siteCssFullWidth {
  position: static;
  // padding: 0 100px;
  width: 100%;
  margin: $site-margin;

  @media (min-width: $breakpoint-tablet) {
    // padding: 0 100px;
    // width: 800px;
  }

  .pageTitle {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 32px;
  }
}

html,
body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  text-transform: none;
  color: #787878;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.fontawesome {
  font: normal normal normal 14px/1 FontAwesome;
}

:export {
  site-max-width: $site-max-width;
  site-padding: $site-padding;
  site-margin: $site-margin;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginTop40 {
  margin-top: 40px;
}

.marginTop50 {
  margin-top: 50px;
}

.marginTop80 {
  margin-top: 80px;
}

.marginTop100 {
  margin-top: 100px;
}

.marginBottom100 {
  margin-bottom: 100px;
}

.link {
  display: inline;
  color: get_color(nav_menu_font_color);
  font-size: 13px;
  font-family: B612;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 0px solid transparent;
  padding: 0 0 0 0;

  &:hover,
  &.active {
    color: get_color(nav_menu_font_color_hover);
    border-color: get_color(nav_menu_font_color_hover);
    -webkit-transition: border 0s ease-out;
    -moz-transition: border 0s ease-out;
    -o-transition: border 0s ease-out;
    transition: border 0s ease-out;
    color: #ddceb0;
  }
}

.header1 {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  color: #111111ff;
  font-family: B612;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1;
  @media (max-width: $breakpoint-tablet) {
    font-size: 20px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 35px;
  }
}

.header2 {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  color: #111111ff;
  font-family: B612;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 18px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 30px;
  }
}

.header3 {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  color: #111111ff;
  font-family: B612;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 14px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
  }
}

.para {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  color: #111111ff;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 20px 0 0 0;
  @media (max-width: $breakpoint-tablet) {
    font-size: 15px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 15px;
  }
}
