@import 'assets/scss/common.scss';

.form-layouts {
  display: flex;
  flex-direction: column;

  & .header1 {
    text-align: center;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  & p.label {
    display: block;
    color: #8a8a8a;
    font-weight: 600;
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 4px;
    font-family: Montserrat;
    margin: 0;
    padding-left: 5px;
  }

  & p.text {
    display: block;
    color: #8a8a8a;
    font-weight: 400;
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 4px;
    font-family: Montserrat;
    margin: 0;
  }

  & .form-field {
    flex: 1 0 100%;
    position: relative;

    & .error {
      position: absolute;
      bottom: -21px;
      left: 2px;
      color: get-color(red);
      font-size: 11px;
      font-weight: 600;
      background-color: transparent;
    }

    & label {
      display: block;
      color: #8a8a8a;
      font-weight: 600;
      font-size: 14px;
      padding-left: 0;
      padding-bottom: 4px;
      font-family: Montserrat;
      padding-left: 2px;

      & sup {
        color: get_color(red);
        font-size: 14px;
        line-height: 1;
      }
    }

    & .field-box {
      padding: 1px;
      border: 1px solid #8a8a8a;

      &:hover,
      &:active {
        padding: 0;
        border: 2px solid #8a8a8a;
      }
    }

    & .radio-box-group {
      display: flex;

      & .radio-box {
        display: flex;

        & input,
        & label {
          margin: 0;
          padding: 0;
          cursor: pointer;
          border: 0;
        }

        & input {
          margin-right: 4px;
        }
        & label {
          margin-right: 10px;
        }
      }
    }

    & .left_right_selection {
      display: flex;
      column-gap: 30px;

      & > div {
        display: flex;
        flex: 0 0 calc(50% - 17px);
        height: 200px;
        border: 1px solid #8a8a8a;

        & .inner-box {
          overflow: scroll;
          width: 100%;

          & ul,
          & li {
            margin: 0;
            padding: 0;
            list-style: none;
          }

          & li {
            padding: 4px 6px;
            color: #000000;
            cursor: pointer;

            &:hover {
              color: #bb8f71;
            }

            & > span {
              margin-right: 10px;
            }
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    & .editor .ql-container.ql-snow {
      height: 400px;
    }

    & .button {
      text-align: right;
      & button {
        border: 1px solid #8a8a8a;
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        &:hover,
        &:active {
          border: 2px solid #8a8a8a;
          padding: 5px 14px;
        }
      }
    }

    & input,
    & select,
    & textarea {
      display: block;
      font-family: Montserrat;
      border: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      line-height: 2;
      font-size: 14px;

      &:focus-visible {
        outline-style: none;
      }
    }

    & button.button {
      padding: 10px 30px;
      border-radius: 10px;
      margin: 0;
      border: 0;
      font-size: 14px;
      border: 2px solid get_color(nav_menu_font_color);
      background-color: get_color(white);
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition:
        0.1s background-color linear,
        0.1s color linear;
      color: get_color(nav_menu_font_color);
      cursor: pointer;

      &:hover {
        background-color: get_color(nav_menu_font_color);
        color: get_color(white);
      }

      &[type='submit'] {
        background-color: #bb8f71;
        border: 2px solid #bb8f71;
        color: #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #bb8f71;
        }
      }
    }

    &:last-child {
      padding: 0 2px;
    }
  }

  & .flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;

    & > div {
      flex: 1 1 50%;
    }

    &.flex-row-1 > div {
      flex: 1 1 100%;
    }
  }

  & .flex-row-item {
    display: flex;
    flex-direction: column;
  }

  // & .flex-row-auto {
  //   display: flex;
  //   flex-direction: row;
  //   column-gap: 20px;

  //   & > div {
  //     flex: 1 1 50%;
  //   }
  // }
}
