{
  "arrowParens": "avoid",
  "singleQuote": true,
  "semi": true,
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^_",
    "^react",
    "^veronica",
    "^enzyme",
    "^@cfaester",
    "^constant",
    "^containers",
    "^entities",
    "^entrypoint",
    "^enums",
    "^helpers",
    "^hooks",
    "^utils",
    "^store",
    "^components",
    "^mockStore",
    "^mockValues",
    "^./"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,

  "experimentalTernaries": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": false
}
