@import 'assets/scss/common.scss';

.dashboard_layout {
  position: relative;
  height: calc(100% - 120px);
  overflow: hidden;

  /**Header*/
  .mainHeader {
    width: 100%;
    z-index: 99;
    background-color: get_color(dashboard_backgroud_color);
    position: fixed;
    top: 0px;
    left: 0px;

    .logo {
      display: flex;

      & img {
        width: 250px;
      }

      & svg {
        width: 250px;
        height: 55px;
      }
    }

    & ul,
    & li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & > .lowerHeader {
      display: block;
      width: 100%;

      & .navBar {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 0;

        & .logo-box {
          flex: 0 0 auto;

          & > a {
            display: block;
          }

          & a {
            text-decoration: none;
          }
        }
      }

      & .navMenu {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
      }
    }
  }

  /**Footer*/
  .footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(100% - 42.5px);
    width: 100%;

    & .main_box {
      display: flex;
      padding: 10px;
      position: relative;
      // background-color: #ddceb0;
      background-color: get_color(dashboard_backgroud_color);

      & .copy {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1.2px;
        user-select: none;
        -webkit-user-select: none;
        font-weight: 500;
        // color: #111111;
        color: get_color(dashboard_fore_color);
      }
    }
  }

  /**Container*/
  & .conatainer {
    width: 100%;
    height: 100%;
    margin-top: 75px;

    & > div {
      border-top: 1px solid get_color(white);
      border-bottom: 1px solid get_color(white);
      height: calc(100% - (75px + 43px + 1px));
      position: fixed;
    }

    /**Sidebar*/
    & .sidebar {
      width: 150px;
      left: 0;
      background-color: get_color(dashboard_backgroud_color);

      & ul,
      & li,
      & p {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .sidebar-menu {
        & li {
          padding: 5px 10px;
        }
      }
    }

    /**Content*/
    & .content {
      left: 150px;
      width: calc(100% - 152px);
      border-left: 1px solid get_color(white);

      & .inner {
        display: block;
        width: auto;
        height: 100%;
        padding: 0 20px;
        overflow: auto;
      }
    }
  }

  & .agTableReact {
    display: flex;
    flex-direction: column;
  }

  & .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    & h1,
    & .header1 {
      margin: 0;
      font-family: B612;
      font-weight: 600;
      line-height: 1;
      font-size: 24px;
    }

    & .table-actionbar {
      display: flex;

      & span {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  & .breadcrub {
    display: flex;

    & span {
      margin-right: 30px;
      position: relative;

      & a {
        color: #bb8f71;
        font-family: B612;
        font-weight: 600;
        line-height: 1;
        font-size: 24px;
        text-decoration: none;
      }

      &::after {
        content: '';
        position: absolute;
        right: -17px;
        top: 3px;
        border-right: 4px solid #bb8f71;
        height: 20px;
      }

      &:last-of-type {
        & a {
          color: #111111;
          text-decoration: none;
          border-bottom: 0px;
        }
        &::after {
          display: none;
        }
      }

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }

  & .font-awesome-icon {
    cursor: pointer;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0px;
    }
  }
}
