@import 'assets/scss/common.scss';

.bannerBox {
  display: block;
  position: relative;

  @media (max-width: $breakpoint-tablet) {
    height: 300px;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 600px;
  }

  & .siteCss {
    position: static;
    max-width: $site-max-width;
    padding: $site-padding;
    margin: $site-margin;
  }

  & .bannerItem {
    display: none;
    opacity: 0;

    & .slideItem {
      position: relative;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      background-size: 100% 300px;

      @media (max-width: $breakpoint-tablet) {
        height: 300px;
        background-size: 100% 300px;
      }

      @media (min-width: $breakpoint-tablet) {
        height: 600px;
        background-size: 100% 600px;
      }
    }

    .contentBox {
      position: absolute;
      bottom: 0;
      left: 10px;
      z-index: 2;
      color: get_color(white);
      font-family: B612;
      text-transform: uppercase;
      font-size: 40px;
    }

    &.active {
      display: block;
      opacity: 1;
      transition: background-image 0.2s ease-out opacity 0.1s ease-out display 0.3s;
    }
  }
}
