@import 'assets/scss/common.scss';

.default_layout {
  position: relative;

  @import './Common/Header.scss';
  @import './Common/Topper.scss';
  @import './Common/Footer.scss';

  & > .query {
    position: fixed;
    bottom: 0px;
    right: 100px;
    display: flex;
    z-index: 80;

    & .whatsapp svg {
      width: 50px;
      height: 50px;
      fill: #43cd66;
    }

    & > .text {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 2px solid #ffffff;
      width: 50px;
      height: 50px;
      background: #ddceb0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }

    & > .query_form {
      border: 2px solid #ddceb0;
      background-color: #fff;
      border-radius: 20px;
      padding: 10px;
      display: block;
      position: relative;

      @media (max-width: $breakpoint-tablet) {
        width: 81%;
        height: 60vh;

        & iframe {
          width: 100%;
          height: 80vh;
        }
      }

      & svg {
        position: absolute;
        right: -16px;
        top: -16px;
        width: 40px;
        height: 40px;
        color: #ddceb0;
        cursor: pointer;

        @media (max-width: $breakpoint-tablet) {
          right: 0px;
        }
      }
    }
  }

  & .conatainer {
    min-height: calc(1200px);
  }

  .our_work_may_impress {
    display: flex;
    flex-direction: column;

    & .box {
      display: flex;
      flex-direction: row;
      column-gap: 6px;
      justify-content: space-between;

      & .column {
        flex: 1 1 33%;
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        & a {
          position: relative;
          display: inline-flex;

          &::before {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 10px;
            top: 10px;
            content: '';
            border: 4px solid #ffffff;
          }

          &:hover::before {
            border-color: #ddceb0;
          }
        }
      }

      & img {
        width: 100%;
        cursor: pointer;
      }
    }

    & ul {
      display: flex;
      list-style: none;

      & li {
        flex: 1 0 20%;

        & img {
          height: 200px;
        }
      }
    }
  }

  .offer_to_client {
    display: block;
    width: 100%;
    & > .inner {
      display: flex;
      flex-direction: column;

      & .above_box {
        display: flex;
        flex-direction: column;
      }

      & .lower_box {
        display: flex;
        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;
        }

        @media (min-width: $breakpoint-tablet) {
          flex-direction: row;
        }
        text-align: center;

        & .box {
          flex: 1 1 33.3%;
        }
      }
    }
  }

  .why_choose_us {
    display: flex;
    flex-direction: column;

    & .box {
      display: flex;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
      }
      justify-content: space-between;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        &.text {
          flex: 0 0 40%;
        }

        &.image {
          flex: 0 0 55%;
          flex: 0 0 55%;
          display: flex;
          flex-direction: row;
        }

        & img {
          width: 100%;
        }
      }
    }
  }

  .about-box-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;

    & p {
      margin: 0;
      padding: 0;
      justify-content: flex-start;
    }

    & .container {
      background-color: #eeeeee;

      & .progress-bar {
        background-color: #ddceb0;
        height: 10px;

        & span {
          display: none;
        }
      }
    }
  }

  .testimonial {
    display: flex;
    flex-direction: column;

    & .main-item {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        row-gap: 20px;
      }

      & .item-list {
        display: flex;

        @media (max-width: $breakpoint-tablet) {
          flex: 0 0 100%;
          width: 100%;
          height: 450px;
        }

        @media (min-width: $breakpoint-tablet) {
          width: 25%;
          flex: 0 0 25%;
          height: 450px;
        }

        & .inner-box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background-color: #000000;
          margin: 0 10px;
          width: 100%;
          height: 450px;

          & .img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-image: url(../../assets/images/testimonial/background.jpg);
            background-size: 100% 100%;
            opacity: 0.5;
          }

          & .content {
            position: relative;
            z-index: 2;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .para {
              color: #ddceb0;
              padding-top: 0;
              height: 220px;
              align-items: center;
            }

            & .img-box,
            & .img-box img {
              width: 120px;
              height: 120px;
              margin: 0 auto;
              border-radius: 100px;
            }

            & .img-box img {
              border: 2px solid #000000;
            }
          }
        }
      }
    }
  }

  .gallery_page {
    display: flex;
    flex-direction: column;
  }

  .project_page {
    display: flex;
    flex-direction: column;
  }

  .services {
    display: flex;
    flex-direction: column;
  }

  .noMatch {
    display: flex;
    flex-direction: column;

    & .content {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  & .react-photo-album {
    & button {
      position: relative;

      &::before {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 10px;
        content: '';
        border: 4px solid #ffffff;
      }

      &:hover::before {
        border-color: #ddceb0;
      }
    }
  }

  .video-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & video {
      margin: 0 auto;
      width: 500px;
    }
  }

  .whatsapp-icon svg {
    fill: #ffffff;
  }

  .all_projects {
    display: block;
    margin: 0 0 40px;

    & ul {
      display: flex;
      list-style: none;

      & li {
        flex: 1 0 20%;

        & img {
          height: 200px;
        }
      }
    }
  }

  .success {
    color: #bb8f71;
    font-size: 18px;
    font-weight: 600;
  }

  .offers {
    display: flex;
    flex-direction: column;

    & .article {
      display: flex;
      column-gap: 30px;
      flex-direction: row;

      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }
    }

    @media (max-width: $breakpoint-tablet) {
      .offer {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: 0;

        & > section,
        & > figcaption {
          width: 100%;
          float: left;
          flex: 1 0 50%;
        }

        & aside .w-full {
          padding: 1rem;
        }

        & > aside {
          box-shadow: 2px 2px 3px 2px #8a8a8a;
          background-color: #ffffff;
          float: left;
          width: 100%;
          margin-bottom: 50px;
          margin-top: 50px;
        }

        & aside .flex nav {
          width: 48%;
        }

        & aside .flex section {
          width: 50%;
          margin-left: 2%;

          & > article {
            flex-direction: column;
          }
        }
      }
    }

    @media (min-width: $breakpoint-tablet) {
      .offer {
        flex: 0 0 45%;
        margin: 0;

        & figcaption {
          .header2 {
            display: block;
            font-size: 18px;
          }
          .header3 {
            display: block;
            font-size: 14px;
          }
        }

        &:first-child {
          padding-right: 20px;

          & > aside {
            margin: 50px 0 0;
          }
        }

        &:last-child {
          padding-left: 20px;

          & > aside {
            margin: 50px 0 0;
          }
        }

        & > section,
        .offer > figcaption {
          width: 50%;
          float: left;
        }

        & > aside .w-full {
          width: 100%;
        }

        & > .clear {
          clear: both;
        }

        & > aside {
          height: 420px;
          box-shadow: 2px 2px 3px 2px #8a8a8a;
          background-color: #ffffff;
          border-radius: 20px;
          padding: 2.5rem;
          padding-bottom: 0;
          display: block;
        }

        & aside .flex nav {
          width: 45%;
        }

        & aside .flex section {
          width: 55%;
        }
      }
    }

    .offer section:first-child img:first-child {
      width: 8rem;
      width: 80%;
    }

    .offer aside .flex {
      display: flex;
    }

    .navBar {
      display: block;
    }

    .navBar > p {
      display: block;
      text-align: left;
      margin: 0;
      padding: 16px 0 0;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 0;
      height: 30px;
      line-height: 20px;
      cursor: pointer;
    }

    .navBar > p.active {
      padding-left: 40px;
    }

    .rightbox {
      display: block;
    }

    .rightbox img {
      width: auto;
      height: auto;
    }

    .rightbox .header3 {
      font-size: 16px;
      letter-spacing: 4px;
    }

    .rightbox ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .rightbox ul li {
      display: block;
      margin: 0;
      padding: 0.5rem 0;
    }
  }
}
